body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(0,0,0);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

a, a:hover {
    text-decoration: none
}

* , * ::before, * ::after {
    box-sizing: inherit
}


/* star */
.star{
  border-radius: 100%;
  position: absolute;
  transition: 300ms;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-name: fadeIn;
  animation-duration: 4s;
}
.shooting-star{
  border-radius: 100%;
  position: absolute;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
